{% if swag %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        Swag Turned On!!!
        <h1>Your password is:<div class="card-panel teal lighten-2">{{ password }}</div></h1>
        <br/>
        <br/>
        <a href='{% url "home" %}'>Home</a>
        <a href='{% url "about" %}'>About</a>
    </body>
</html>
{% else %}
<h1>Your password is: {{password}}</h1>
<br/>
<br/>
<a href='{% url "home" %}'>Home</a>
<a href='{% url "about" %}'>About</a>
{% endif  %}
